.custom-input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 0.5px solid #e5e7eb; /* gray-300 */
  border-radius: 0.375rem; /* rounded-md */
  outline: none;
  transition: all 0.2s ease-in-out; /* for smooth focus transition */
}

.custom-input:focus {
  ring: 2px solid #416a00; /* primary color */
  border-color: #416a00; /* primary border */
}
.overlay {
  position: fixed; /* Fixed position to cover the entire screen */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  z-index: 1000; /* Ensure it's above other content */
}
.overlayImg {
  position: absolute; /* Fixed position to cover the entire screen */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black background */
}
.cardIt {
  border-radius: 0.5rem; /* rounded-lg */
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05); /* shadow-sm */
  background-color: white; /* bg-white */
  padding: 1rem; /* p-4 */
  border: 1px solid rgb(226 232 240); /* border-slate-200 */
}
.slick-prev:before,
.slick-next:before {
  color: #00000083 !important; 
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
